:root {
  --pri-dark: #183e57;
  --pri-neutral: #22577a;
  --pri-light: #38a3a5;
  --pri-lighter: #dbf4f6;
  --sec-dark: #57cc99;
  --sec-neutral: #80ed99;
  --sec-light: #c7f9cc;
  --sec-lighter: #e0f7e2;

  --w-pri-dark: #3e10b3;
  --w-pri-light: #5400fd;
  --w-sec: #da3fa9;
  --w-accent: #d5cc17;
  --w-background: #040115;
  --w-text: #cddbec;

  --font-main: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 1.1rem;
}

html,
body {
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  gap: 0rem;
}

.main-container {
  margin-right: 3rem;
  padding: 0.5rem;
  background-color: #e1e2e3;
  border: 5px solid #e1e2e3;
  border-radius: 1rem;

  width: 100%;
  height: 92vh;
}

@media (max-width: 900px) {
  #main {
    flex-direction: column;
  }
  .main-container {
    width: 80vw;
    height: auto;
  }
  #left-container {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  #right-container {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

#left-container {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
}

#right-container {
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#details-container {
  background-color: #c7c7c7;
  border: 5px solid #c7c7c7;
  border-radius: 1rem;
  padding: 1rem;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#current-container {
  background-color: #c7c7c7;
  border: 5px solid #c7c7c7;
  border-radius: 1rem;
  padding: 1rem;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#forecast-container {
  height: 100%;

  background-color: #c7c7c7;
  border: 5px solid #c7c7c7;
  border-radius: 1rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
}

#forecast-details-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forecast-line {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
}

h1 {
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
}

h4 {
  text-align: center;
}

#place-form {
  display: flex;
}

#country-input {
  width: 100%;
}

.forecast-day {
  font-weight: 400;
}
