* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forecast-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
